nav.navigation
  .navigation__wrapper
    a.navigation__link(href="/")
      span.navigation__link__text Floema
    
    ul.navigation__items
      li.navigation__item
        a.navigation__link(href="/about") About
      li.navigation__item
        a.navigation__link(href="/collections") Collections
