$color-black: #080808;
$color-white: #fefefe;

$font-headings: "George X";
$font-body: "Suisse BP";

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ("noscript", "preloader", "navigation", "content", "canvas");

:root {
  --color-white: hsl(33, 60%, 94%);
  --color-accent-contessa: hsl(8, 48%, 56%);
  --color-accent-quicksand: hsl(14, 26%, 64%);

  --font-headings: "George X";
  --font-body: "Suisse BP";

  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
}
